@media only screen and (orientation: portrait) {
  .memory-grid {
    height: 80vw;
    grid-gap: 1vw;
  }
}

@media only screen and (orientation: landscape) {
  .memory-grid {
    height: 40vw;
    grid-gap: 0.5vw;
  }
}

.memory-grid {
  margin-top: 1vw;
  display: grid;
  grid-template-rows: repeat(4, auto); /* how wide the rows should be*/
  grid-template-columns: repeat(4, auto);
}
