.status-bar {
  display: flex;
  align-items: center;
}

.status {
  margin: 0;
  font-weight: 600;
}

.status-container {
  flex: 1;
  margin-bottom: 0rem;
}

.button {
  flex: 0; /*take so lite space as possible*/
  margin-left: 5px;
}
